/*--------- 
 fonts
---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*--------------
 common styles
 ---------------- */
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }
 body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
 }
 
 /*----------------
  header section
  ----------------- */
  .header-section{
      display: flex;
      align-items: center;
      padding-left: 156px;
      padding-right: 140px;
      background-color: #2D25A0;
      height: 677px;
  }
  .header-blogs{
      width: 50%;
  }
  .header-blogs h2{
      color: #FFFFFF;
      font-weight: bold;
      font-size: 64px;
  }
  .link{
    display: inline-block;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    outline: none;
  }
  .link:hover{
      box-shadow: inset 168px 0 0 0 #f9e506;
      color: #000;
  }
  .link i{
    padding-left: 8px;
  }
  .banner{
    width: 50%;
  }
  .banner img{
    width: 556px;
  }

  /*--------------
   about players
  ------------------ */
  .player-info{
      margin-top: 70px;
      padding-left: 180px;
      padding-right: 210px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 27px;
  }
  .player{
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  .player img{
    width: 100%;
  }
  .player h2{
    font-weight: bold;
    font-size: 28px;
  }

  /* -----------------
   highlights section
   ------------------- */
   .highlights{
       display: flex;
       align-items: center;
       padding-left: 182px;
       padding-right: 156px;
       margin-top: 140px;
   }
   .highlights-blogs{
       width: 50%;
   }
   .highlights-blogs h2{
    font-weight: bold;
    font-size: 48px;
   }
   .highlights-blogs a{
       margin-top: 24px;
   }
   .highlights-img img{
    width: 567px;
    margin-left: 66px;
   }
   .highlights-img{
       width: 50%;
   }

     /*----------------
    gallery section 
   ------------------ */
.gallery-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    }
.about {
    margin-bottom: 155px;
}
.about h2{
 font-weight: bold;
 font-size: 64px;
}
.about p{
 font-size: 24px;
 text-align: center;
}
.our-players{
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}
@keyframes animate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
     transform: perspective(1000px) rotateY(360deg);
 }
}
.our-players span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}
.our-players span img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ----------------
footer section
---------------------*/
.footer-wrap{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 158px;
   }
.footer-logo img{
    width: 483px;
   }
.footer-icon{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
   }
.footer-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 32px;
     width: 32px;
    margin-right: 15px;
    background-color: #d9dce6;
    border-radius: 100%;
      
   }
.footer-icon i{
    color:#969BAB;
    }
.copyright{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 63px;
   }

 /*---------------
  Media Queries
 -------------------*/

 /* Mobile Devices */
 @media only screen and (max-width:688px) {
main{
     width: 100%;
    }
    .header-section{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 66px;
        width: 360px;
        height: 600px;
    }
    .header-blogs {
        width: 278px;
        height: 212px; 
        margin-top: 50px;
    }
    .header-blogs h2{
        font-size: 36px;
    }
    .banner{
        width: 329px;
        height: 259.17px;
        padding-left: 15px;
        padding-right: 16px;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .banner img{
        width: 329px;
        height: 259.17px;
        left: 344px;
        top: 374px;

    }

    .player-info{
        flex-direction: row;
        grid-template-columns: repeat(1, 1fr);
        width: 360px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .highlights{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 16px;
        width: 360px;
        margin-top: 60px;
    }
    .highlights-blogs{
        width: 360px;
        padding-left: 15px;
        padding-right: 16px;
    }
    .highlights h2{
        font-size: 30px;
    }
    .highlights p{
        font-size: 16px;
    }
    .highlights-img{
        width: 360px;
    }
    .highlights-img img{
        width: 328px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 0;
        margin-top: 29px;
    }
    .gallery-wrap{
       text-align: center;
       width: 360px;
    }
    .about{
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 50px;
    }
    .about h2{
        font-size: 36px;
    }
    .our-players{
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
    .our-players span{
        height: 80%;
        width: 80%;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(150px);
    }
    .our-players span img{
        height: 80%;
        width: 80%;
    }
    .footer-wrap{
        margin-top: 70px;
        flex-direction: column;
        width: 360px;
    }
    .footer-logo{
        width: 360;
        
    }
    .footer-logo img{
        width: 200px;
    }
    .footer-icon{
        width: 170px;
    }

    .copyright{
        padding-left: 62px;
        padding-right: 62px;
        margin-bottom: 187px;
    }
}  
